.hero {
  width: 100%;
  min-height: calc(65svh - 100px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gutter-md);
  align-items: center;
}

.profile {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.content > * + * {
  margin-block-start: 1rem;
}

@media screen and (max-width: 668px) {
  .hero {
    grid-template-columns: 1fr;
  }
  .profile {
    max-width: 80%;
  }
}
