---
import styles from "./styles.module.css";
---

<footer class={styles.footer}>
  <div class={styles.links}>
    <h4>Contact</h4>
  </div>
  <div class={styles.blurb}>
    <h4>Blurb</h4>
    <p>
      Emily is a graphic designer and illustrator based in LA county with an
      emphasis in layout design and packaging.
    </p>
    <p>
      To her, graphic design is problem solving, and constantly a work in
      progress. She views her work as a constant motivator to strive for
      improvement and discovering new ways of approaching design. No work is
      ever truly complete.
    </p>
    <p>
      When she's not designing, you might find her at the local bowling alley
      aiming for a new personal best, or at home recharging by napping, watching
      movies or playing videos games.
    </p>
  </div>
</footer>
